<h2></h2>
<div class="card m-4" style="width: 18rem;">
  <div class="card-header">
    <h4>Transfer <span class="badge badge-success">New</span></h4>
  </div>
  <div class="card-body">
   
    <div class="card-text">
      <h6 class="mt-3 mb-3">Source account</h6>
      <select class="custom-select source-account-select mb-3" id="sourceAccount" [(ngModel)]="transfer.accountFrom">
        <option *ngFor="let account of accounts" [ngValue]="account.code" [selected]="account.code == transfer.accountFrom">{{account.name}} {{account.holderName}}</option>
      </select>
      <h6 class="mb-3">Destination account</h6>
      <select class="custom-select mb-3" id="destinationAccount" [(ngModel)]="transfer.accountTo">
        <option *ngFor="let account of accounts" [ngValue]="account.code" [selected]="account.code == transfer.accountTo">{{account.name}} {{account.holderName}}</option>
      </select>
      <h6 class="mb-3">Amount</h6>
      <div class="input-group mb-4" id="cents">
        <input [(ngModel)]="transfer.amount" type="text" class="form-control" aria-label="Dollar amount">
        <div class="input-group-append">
          <span class="input-group-text">$</span>
        </div>
      </div>
      <button (click)="onSubmit()" type="button" class="btn btn-primary align-right float-right">submit</button>
    </div>
  </div>
</div>
